version: "3"

services:
  thn-api:
    image: xuqingfeng/thn-api:latest
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.thn-api.rule=Path(`/graphql`)"
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10M
        max-file: "5"
  thn-web:
    image: xuqingfeng/thn-web:latest
    depends_on:
      - thn-api
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.thn-web.rule=PathPrefix(`/`)"
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10M
        max-file: "5"

networks:
  traefik:
    name: traefik_default
    external: true
